mixin button({href, text, theme, long, type})
	- 
		let classArray = []

		if (theme) classArray.push(`button__theme-${theme}`) 
			else classArray.push("button__theme-casual")

		if (long) classArray.push("button__size-long") 
			else classArray.push("button__size-short")

	if href
		a.button(class=classArray href=href)
			span.button__text=text
			if long
				span.button__icon-arrow arrow_forward
	else 
		button.button(class=classArray type=type)
			span.button__text=text
			if long
				span.button__icon-arrow arrow_forward