//- theme "filled" or "no-bg"

mixin button({href, text, theme, border,	long, small, type, icon, selector})
	-	
			let classArray = []

			if (theme) classArray.push(`button__theme_${theme}`)

			if (long) classArray.push('button__size-long')

			if (small) classArray.push('button__size-small')

			if (border) classArray.push(`button__bordered`)
			
			if (selector) classArray.push(`js-button__${selector}`)

	
	if href 
		a.button(class=classArray href=href)
			span.button__text=text
			if icon
				span.button__icon-arrow arrow_forward

	if type
		button.button(class=classArray type=type)
			span.button__text=text
			if icon
				span.button__icon-arrow arrow_forward
	