mixin button({href, text, theme, border,	long, type})
	-	
			let classArray = []

			if (theme) classArray.push(`button__theme_${theme}`)
				else classArray.push(`button__theme_no-bg`)

			if (long) classArray.push(`button__size-long`)

			if (border) classArray.push(`button__bordered`)
	
	if href 
		a.button(class=classArray href=href)
			span.button__text=text
			if long
				span.button__icon-arrow arrow_forward

	if type
		button.button(class=classArray type=type)
			span.button__text=text
			if long
				span.button__icon-arrow arrow_forward
	