mixin field({ title, type, placeholder, name, form=false })
	if form
		form.field
			if title
				span.field__title= title 
			.field__block
				input.field__input-form(
					type= type || "text",
					placeholder= placeholder,
					name= name
				)
				button.field__submit(type="submit", name= name)
					span.field__icon-arrow arrow_forward
	
	else if title
		label.field
			span.field__title= title  
			input.field__input(
				type= type || "text",
				placeholder= placeholder,
				name= name
			)
	else
		input.field__input(
			type= type || "text",
			placeholder= placeholder,
			name= name
		)
				